@{
    ViewData["Title"] = "Home Page";
    ViewData["Description"] = "The home page of my website";
}

<p>This is the index.cshtml</p>

@section Scripts {
    @*Insert any script tags for this page here*@
}

<ej-grid id="SampleGrid" allow-paging="true" allow-sorting="true" allow-filtering="true">
    <e-filter-settings filter-type="Menu" />
    <e-edit-settings allow-adding="true" allow-editing="true" allow-deleting="true" show-delete-confirm-dialog="true" edit-mode="Dialog"></e-edit-settings>
    <e-toolbar-settings show-toolbar="true" toolbar-items="@(new List<string>() {"add","edit","delete","update","cancel","excelExport","wordExport","pdfExport" })"></e-toolbar-settings>
    <e-datamanager url="/api/Data" insert-url="api/Data/Insert" remove-url="api/Data/Delete" update-url="api/Data/Update" adaptor="WebApiAdaptor"></e-datamanager>
    <e-columns>
        <e-column field="Name" header-text="Name" text-align="Right" width="70" is-primary-key="true" is-identity="true"></e-column>
        <e-column field="Title" header-text="Title" width="80" edit-type="StringEdit"></e-column>
    </e-columns>
</ej-grid>